<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Paay - Checkout</title>
  </head>

  <body>

    <div class="container">
      <a class="navbar-brand" href="index.html">Cindy's Demo</a>
    </div>

    <div class="container-fluid">
      <div class="row">
        <form id="billingForm" class="form-horizontal" action="confirmation.php" method="post">
        <!-- Credit Card Paymnet Form Start -->
        <section class="border-top pt30 pb30 mt40 mb10">
          <div class="col-sm-12 mt40">
            <h3 class="text-center no-margin mb20-xs">Payment</h3>
            <hr style="width:556px;" class="double-hr hidden-xs mt20 mb30">
          </div>
          <div class="col-sm-12">

              <fieldset>
                <div class="">
                  <!-- Hidden SDK Transaction ID -->
                  <input type="hidden" name="transactionId" data-threeds="id" value="" />
                </div>
                <!-- Amount Div Start -->
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number">Amount</label>
                  <div class="col-sm-7">
                    <input class="form-control checkout-form-border" id="card-number" name="amount" data-threeds="amount" placeholder="$100" type="text">
                  </div>
                </div>
                <!-- Amount Div End -->
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                  <div class="col-sm-7">
                    <input class="form-control checkout-form-border" id="card-holder-name" name="card-holder-name" placeholder="Card Holder's Name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                  <div class="col-sm-7">
                    <input class="form-control checkout-form-border" id="card-number" name="ccNum" data-threeds="pan" placeholder="Debit/Credit Card Number" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                  <div class="col-sm-7">
                    <div class="row">
                      <div class="col-xs-3">
                        <select class="form-control col-sm-2 checkout-form-border" id="expiry-month" name="month" data-threeds="month">
                          <option>Month</option>
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">June</option>
                          <option value="07">July</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <select class="form-control checkout-form-border" id="expiry-month" name="year" data-threeds="year">
                          <option value="">Year</option>
                          <option value="17">2017</option>
                          <option value="18">2018</option>
                          <option value="19">2019</option>
                          <option value="20">2020</option>
                          <option value="21">2021</option>
                          <option value="22">2022</option>
                          <option value="23">2023</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                  <div class="col-sm-3">
                    <input class="form-control checkout-form-border" id="cvv" name="cvv" placeholder="Security Code" type="text">
                  </div>
                </div>
              </fieldset>
              <input type="submit" name="submit" class="btn btn-rw btn-primary btn-lg pull-right"><span class="ion-ios7-arrow-right"></span></input> </div>

          </div>
        </section>
        <!-- Credit Card Payment Form End -->


</form>
      </div>
    </div>

    <!-- Paay SDK javascript library -->
    <script src="https://cdn.3dsintegrator.com/threeds-min-v1.6.0.js"></script>
    <script type="application/javascript">
    var tds = new ThreeDS("billingForm","http://localhost/integration.php", {verbose:true, rebill:40});
    tds.init();
    </script>
    <br>
  </body>


</html>
